LANGUAGE=en_US

APP_DOMAIN=change-this.example.com

# 10 days to facillitate debugging. The data in Redis expires in order to make sure Redis never takes too much
# memory - the full scan logs are stored in a Postgres database.
REDIS_MESSAGE_DATA_EXPIRY_SECONDS=864000
