/scan/
dacite==1.8.1
email-validator==2.1.0.post1
fastapi==0.109.1
Jinja2==3.1.4
jinja2-simple-tags==0.6.1
psycopg2-binary==2.9.9
python-decouple==3.8
redis==5.0.1
rq==1.15.1
SQLAlchemy==2.0.25
uvicorn==0.26.0
-r translations/requirements.txt
