# Until fixes get merged, let's refer to CERT PL fork
checkdmarc@git+https://github.com/CERT-Polska/checkdmarc@choosing-which-reports-to-receive
dkimpy==1.1.8
PyNaCl==1.5.0
pyspf==2.0.14
python-multipart==0.0.20
validators==0.35.0
