# This commit hash refers to 5.3.1 release - but the PyPI release is incorrect
checkdmarc @ git+https://github.com/domainaware/checkdmarc@120ef5a9709fe49c8c452d0b44383b7f7712f066
checkdmarc==5.3.1
dkimpy==1.1.5
python-multipart==0.0.9
validators==0.22.0
