{% extends "custom_root_layout.html" %}

{% block check_by_sending_email %}
    <div class="card h-100 card-highlight">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{% trans %}Check configuration by sending an e-mail{% endtrans %}</h5>
            <div class="card-text">
                <p>
                    {% trans trimmed %}
                        Verify your <b>DKIM</b>, <b>DMARC</b>, and <b>SPF</b> settings by sending a test e-mail.
                    {% endtrans %}
                </p>
                <p>
                    <b>
                        {% trans trimmed %}
                            This is the recommended path. Sending a test e-mail allows us to perform more accurate analysis.
                        {% endtrans %}
                    </b>
                </p>
            </div>
            <a href="{{ url_for('check_email_form') }}" class="btn btn-primary mt-auto">{% trans %}Send an e-mail{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block check_domain %}
    <div class="card h-100 card-highlight">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{% trans %}Check domain{% endtrans %}</h5>
            <div class="card-text">
                <p>
                    {% trans trimmed %}
                        Verify your SPF and DMARC settings by providing a domain. Note: only the <b>SPF</b>
                        and <b>DMARC</b> mechanisms will be checked. To check DKIM, you need to send a test e-mail.
                    {% endtrans %}
                </p>
            </div>
            <a href="{{ url_for('check_domain_form') }}" class="btn btn-primary mt-auto">{% trans %}Check a domain{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
